
<div class="hero">

        <div class="img-container">
            <img src="/images/login_img2.svg" />
         </div>
    
    <form id="login_form">
        <h3 id="h3">Excited to have you join our network</h3>
        <div class="input-group">           
            <input type="email" id="email" name="email" required/>
            <label for="email">Email</label>
        </div>

        <div class="input-group">       
            <input type="password" id="password" name="password" required/> 
            <label for="password">Password</label> 
            <i class="fa-regular fa-eye-slash" id="icon"></i>
            
        </div>

        <button> Sign in</button> <br>
        <span>By clicking Continue, you agree to <strong>Better World's</strong> User Agreement, Privacy Policy, and Cookie Policy.</span>
        <a href="/register"  id="registerPromo">New to Better World? Join now</a>

    </form>

</div>


