


   <div class="register_hero">
    {{!-- <img src="/images/bg_Register.jpg">
     --}}

     {{#if isApplicant}} <form id="register_form" action="/userRegister" method="post"> {{else}} <form id="register_form" action="/companyRegister" method="post">{{/if}}
   
        
        <h3 id="h3_register">{{#if isApplicant}} Maximize Your Career Potential {{else}} Enter Company Details{{/if}}</h3>
        <div class="input-group">           
            <input type="text" id="name" name="name" required/>
            <label for="name">Name</label>
        </div>

          <div class="input-group">           
            <input type="number" id="phone" name="phone" required/>
            <label for="phone">Phone</label>
        </div>

        <div class="input-group">           
            <input type="text" id="address" name="address" required/>
            <label for="address">Address</label>
        </div>

        <div class="input-group">           
            <input type="email" id="email" name="email" required/>
            <label for="email">Email</label>
        </div>

        <div class="input-group">       
            <input type="password" id="password" name="password" required/> 
            <label for="password">Password</label> 
            <i class="fa-regular fa-eye-slash" id="icon"></i>  
        </div>

         <span>By clicking Continue, you agree to <strong>Better World's</strong> User Agreement, Privacy Policy, and Cookie Policy.</span>

        <button> Agree & Join</button>
       
        <p id="loginPromo">Already on Better World? <a href="{{#if isApplicant}} /userLogin {{else}} /companyLogin {{/if}}"> {{#if isApplicant}} Sign in as Applicant {{else}} Sign in as company{{/if}}  </a> </p> 

    </form>

    </div>




