.hero{ 
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
}


.hero caption{
    font-size: 30px;
}

.hero-profile{ 
    position: absolute;
    width: calc(100% - 600px);
    left: 280px;
    margin-top: 20px;
}

.hero-profile caption{
    font-size: 30px;
}

.company-sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    height: calc(100lvh - 104px);  
    box-shadow: 1px 1px 4px black;
    padding:20px;
    margin: 0px 40px 0px -12px; 
    gap: 40px;
}


.company-sidebar i {
    font-size: 50px;
}

.company-sidebar h1{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    font-family: 'poppins';
}

.company-sidebar ul li a{
    text-decoration: none;
    font-size: 18px;
}

.company-sidebar .button-name {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
   }
   
   .button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   }
   
   .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
   }
   
   .button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
   }