*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* border: 1px solid black; */
}




.container {
    display: flex;
    position: relative;
    margin-top: 10px;
    float: left;
    width: 100%;

}

.sidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 250px;
    height: calc(100lvh - 100px);  
    box-shadow: 0px 6px 6px black; 
    padding:20px;
    margin: 0px 40px 0px -12px; 
    gap: 30px;
}

.sidebar .top{
    display: flex;
    flex-direction: column;
    
}

.sidebar .profile-img{
    background-color: #7b9fc1;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.sidebar i {
    position: relative;
    top:50%;
    transform: translateY(-50%);
    font-size: 50px;
}

.sidebar h1{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 100;
    font-family: 'poppins';
    text-transform: capitalize;
}

.sidebar button{
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    font-family: 'poppins';
    border-radius: 6px;
    background-color: #06437d;
    color: white;
    transition: 0.5 ease;
}

.sidebar button:hover{
    background-color: #294178;
}

.sidebar button:active{
    transform:translateY(3px);
    background-color: #5585b2;
}

.item ul li{
    list-style-type: none;
}

.item ul li a{
    text-decoration: none;
    font-family: 'poppins';
    color: black;
    font-size: 20px;
}

.job-container,
.job-description {
    height: calc(100vh - 120px); 
    overflow-y: auto; 
}

.job-container {
    flex: 1; 
    border: 1px solid #ccc; 
    margin-right: 10px; 
}

.job {
    position: relative;
    display: flex;
    gap:20px;
    align-items: center;
    height: 120px; 
    border-bottom: 1px solid #eee; 
    padding-left: 10px;
    flex-wrap: nowrap;
    height: 150px;
    transition: 0.4s ease-in-out;
}

.job h1{
    font-family: 'Poppins';
    font-size: 20px;
    color:rgb(20, 25, 118);
    line-height: 24px;
    filter: drop-shadow(1px 1px 1px rgb(163, 162, 196));
}
.job h2{
    font-size: 16px;
    line-height: 20px;
    color: black ; 
    filter: drop-shadow(1px 1px 1px rgb(163, 162, 196));
}
.job h3{
    font-size: 12px;
    color:#777272;
    font-weight: 100;
    font-family: 'poppins';
}
.job p{
    position: relative;
    bottom: -14px;
    font-size: 12px;
    color:#1b1919;
    font-family: 'poppins';
}
.job p span{
    font-weight:bold;
    color: rgb(40, 139, 40);
}

.img-container{
    height: 100px;
    width: 140px;
}

.job img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.job-description {
    flex: 1.4; 
    border: 1px solid #ccc; 
    padding: 20px 30px; 
}

.job-description .job-header-container h1, h2{
    font-family: 'Poppins';
    line-height: 30px;
}

.job-description .job-header-container h2{
    font-size: 18px;
    color:#777272;
    font-weight: 100;
}

.job-description .job-info-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.job-description .job-info-container span{
    color:#373333;
    font-family: 'Lato';
    display: block;
}

.job-description .job-info-container i{
    width: 10px;
    height: 10px;
    margin-right: 12px;
}

.job-description .job-info-container a{
    text-decoration: none;
    color:white;
    width: 180px;
    text-align: center;
    height: 34px;
    border-radius: 10px;
    background-color: #b86800;
    font-size: 15px;
    font-size: 15px;
    padding-top: 5px;
    font-family: 'poppins';
}

.job-description .job-info-container a:active{
    background-color: #92601e;
}

.job-description .job-info-container button{
    margin-top: 8px;
    width: 100px;
    height: 34px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #004e96;
    color:white;
    font-family: 'Roboto';
    font-size: 15px;
    font-size: 15px;
}



.job-description .job-info-container button:active{
    background-color: #122335;
}

.job-description .additional-info{
    margin-top: 30px;
}

.job-description .additional-info h1{
    font-family: 'poppins';
    font-size: 25px;
    margin-bottom: 15px;
    
}

.job-description .additional-info h2{
    font-size: 20px;
}

.job-description .additional-info p, li{
    font-family: 'poppins';
    font-size: 14px;
    text-align: justify;
    color:rgb(37, 36, 36);  
}

.job-container a{
    text-decoration: none;
}

.job-container a:hover h1{
    text-decoration: underline;
}

.job:hover {
    background-color: #ededf4;
}

/* .card-container{
    display: flex;
    flex-direction: column;
}

.card-container .cards{
    height: 200px;
    width: 200px;
    background-color: #004e96;
} */

.bg-card{
    padding:20px;
    user-select: none;
}

.bg-card .status_info h4{
    position: relative;
    border: 1px solid grey;
    padding:5px;
    border-radius: 10px;
    width:108px;
    text-transform: capitalize;
    font-family: 'poppins';
    margin: auto;
    
}