    {{#if messages.success}}
                <div class="auto-close alert alert-danger">
                    {{messages.success}}
                </div>
    {{/if}}
    

     <main>
    
    

        <div class="container">

            <div class="sidebar">
                <div class="top">
                    <i class="fa-solid fa-user"></i>
                    <h1>Pranil Shrestha</h1>
                </div>
        
                <div class="item">
                    <ul>
                        <li>Profile</li>
                        <li>Track Application Status</li>
                    </ul>
                    <form action="/logout?_method=DELETE" method="post">
                    <button>Logout</button>
                    </form>
                </div>
        
            </div>

        <div class="job-container">

                <div class="job">
                    <div class="img-container">
                        <img src="/static/images/logo.png" alt="ss">
                    </div>
                    <div class="job-info">
                        <h1>Marketing Officer</h1>
                        <h2>Company Name</h2>
                        <h3>Tilottama-15, Kotihawa</h3>
                        <p>20 Days Remaining <span> • 16 Applicants</span> </p>
                    </div>
                </div>

            </div>   
            
            <div class="job-description">

                    <div class="job-header-container">
                        <h1>Full Stack Engineer</h1>
                        <h2>Company Name</h2>
                        
                    </div>

                        <div class="job-info-container">
                            <span> <i class="fa-solid fa-briefcase"></i> On-site Full-time</span>
                            <span> <i class="fa-solid fa-list-check"></i> Skills: JavaScript, React, Node, MongoDB</span>
                            <span> <i class="fa-solid fa-indian-rupee-sign"></i> Salary: Negotiable</span>
                            <span> <i class="fa-solid fa-location-dot"></i> Tilottama-15, Kotihawa </span>
                            <button type="button">Apply</button>
                        </div>

                    <div class="additional-info">

                        <h1>About the job</h1>

                            <h2>Job Description</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod explicabo ea illum non, alias id sunt libero aut voluptate nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. At laudantium odit et numquam quas aliquid minus maxime veniam praesentium velit!</p> <br>

                        <h2>Required Knowledge</h2>

                            <li>Lorem ipsum dolor sit amet consectetur.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                            <li>Lorem ipsum dolor sit.</li> 
                            <br>

                        <h2>Education + Experience</h2>
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, sapiente.</li>
                    </div>
            </div>
        </div>

    </main>



