  
    <div class="company-sidebar">
        <div class="top">
            <i class="fa-solid fa-house-laptop"></i>
            <h1>Company Name</h1>
        </div>

        <div class="item">
            <ul>
                <li> <a href="/company">Dashboard</a> </li>
                <li> <a href="">Profile</a> </li>
                <li> <a href="/postJobs">Post New Jobs</a> </li>
                <li> <a href="">Job Applications</a> </li>
            </ul>
            <form action="/logout?_method=DELETE" method="post">
            <button>Logout</button>
            </form>
        </div>

    </div>

    <div class="hero">
       
        <div class="job-listing">
            <table class="table caption-top">
                <caption>JOB LISTINGS</caption>
                <thead>
                  <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Posted Date</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Applicants</th>
                    <th scope="col" colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>2024/12/1</td>
                    <td>Full Stack Developer</td>
                    <td>10</td>
                    <td><a href="">Edit</a></td>
                    <td><a href="">Delete</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

<script src="/static/js/auto-close.js"></script>
<script src="/static/js/icon.js"></script>
</body>

</html>